@use '../../../variables.scss' as *;

.content-image {
  width: 100%;
  min-height: 160px;
  max-height: 160px;
  overflow: hidden;

  & img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
}

:host {
  @include flex-col;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 340px;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 0px 20px #00000010;
  cursor: pointer;
  transition: 0.3s all ease;

  @include media-up(sm) {
    max-height: 380px;
  }

  &:hover {
    box-shadow: 0px 0px 5px #00000060;
  }
}

h2 {
  font-size: 1rem;
  margin: 0px;
}

.content {
  @include flex-col;

  margin: 0.5rem 0px;
  height: 100%;
  width: 95%;
  align-items: flex-start;

  p {
    margin: 0px;
  }

  & > p,
  .content-model-name {
    color: #00000070;
    margin-top: 0.15rem;
  }
}

.content-buttons {
  width: 95%;
  padding: 0 0 0.5rem 0;
  margin-top: auto;
}

.content-model {
  @include flex-row;
  gap: 1rem;
  margin-top: 0.75rem;

  span {
    @include flex-row;
    gap: 0.25rem;

    mat-icon {
      width: 14px;
      height: 14px;
      font-size: 14px;
    }
  }
}

.price {
  display: flex;
  margin-top: auto;
  min-height: 1.5rem;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}
