@use '../../../variables.scss' as *;

:host {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  max-width: 100vw;
  box-shadow: 0px 0px 10px #00000015;
  height: 82px;
  max-height: 82px;

  @include media-down(sm) {
    height: auto;
    min-height: 82px;
    max-height: none;
  }
}

.content {
  @include flex-row;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  @include media-down(sm) {
    flex-wrap: wrap;
  }

  .logo {
    @include flex-row;
    gap: 1.35px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;

    p {
      transition: 0.5s all ease;
      margin: 0;
      border-bottom: 2px solid transparent;
      font-weight: bold;
      font-size: 1.25rem;
      color: #128686;
    }

    p:hover {
      transform: rotate(360deg);
      border-color: #128686;
    }
  }

  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    color: inherit;

    @include media-up(md) {
      display: none;
    }
  }

  .nav-links--desktop {
    display: none;

    @include media-up(md) {
      display: flex;
      flex: 1;
      gap: 1rem;
      justify-content: space-between;
    }
  }

  .nav-links {
    display: none;
    flex-basis: 100%;
    flex-direction: column;
    align-items: stretch;
    padding-top: 1rem;
    gap: 0.5rem;

    &--open {
      display: flex;
    }

    @include media-up(md) {
      display: none !important;
    }

    ul {
      flex-direction: column;
      gap: 0;
    }

    li {
      padding: 0.5rem 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }

    .btn {
      width: 100%;
      text-align: center;
      justify-content: center;
    }
  }

  ul {
    @include flex-row;
    gap: 1rem;

    li {
      list-style-type: none;
      border-bottom: 2px solid transparent;
      transition: 0.2s all ease-in-out;

      &:hover {
        border-color: #128686;
      }

      a {
        font-size: 1.15rem;
        text-decoration: none;
        color: black;
      }
    }
  }
}
