@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

* {
  box-sizing: border-box;
}

app-root {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}

html,
body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem 1rem;

  @media (min-width: 768px) {
    padding: 1rem 1.5rem;
  }

  @media (min-width: 1200px) {
    padding: 1rem 2rem;
  }
}

.btn {
  padding: 0.625rem 1rem;
  border-radius: 6px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s all ease;
  font-size: 0.875rem;
  font-weight: 600;

  @media (min-width: 576px) {
    padding: 0.75rem 1.25rem;
    font-size: 14px;
  }

  &:hover {
    filter: brightness(0.85);
  }

  &:active {
    filter: grayscale(0.6);
    border-color: black;
  }
}

.btn-primary {
  background-color: #1bdbdb;
  color: white;
  border-color: #1bdbdb;
}

.btn-secondary {
  background-color: transparent;
  color: #1bdbdb;
  border-color: #1bdbdb;
  outline: none;
}

.slide-in {
  animation: slide-in 1s;
}

@keyframes slide-in {
  from {
    transform: translateY(-72px);
  }
  to {
    transform: translateY(0);
  }
}

.full-width {
  height: auto;
  width: 100%;
}
